html, body {
    color: #dcdcdc !important;
    background-image: none !important;
    background-color: #292929 !important;
  }
  
  html::before, body::before {
    background-image: none !important;
  }
  
  html *:not(input):not(textarea) {color: #dcdcdc !important}
  html *:not(td[style^="background-color"]):not(span.k-selected-color){background-color: rgb(41, 41, 41, 0.90) !important}
  
  html *, html *[id], html *[class]:not(.global-search__body):not(.slider.round):not(.gs-slider):not(table.k-palette > tbody > tr > td) {
    box-shadow: none !important;
    text-shadow: none !important;
    border-radius: unset !important;
    border-color: #555555 !important;
    outline-color: #555555 !important;
  }

  span,a.k-button {
    background-color: transparent !important;
  }

  span.k-icon {
    border: none !important;
  }

  a.k-button,button.k-button:not(a.dropdowntree-button.k-button) {
    border: 1px solid #008ed6 !important;
  }

  a.k-button > label {
    background-color: inherit !important;
  }

  button.two-action-input-group__primary-action.k-button, span.k-icon {
    right: 0px !important;
  }

  .drawer-drawermenu .k-dropdown-wrap, .drawer-drawermenu .k-textbox,
   .drawer-drawermenu .k-widget, .drawer-drawermenu input,
    .drawer-drawermenu textarea, .content-header__main {
    border-style: initial !important;
  }

  .results-table.table-picker__details tr[role='row'], .results-table.table-picker__filter tr[role='row'] {
    background-color: rgb(41, 41, 41, 0.90) !important;
  }

  span.k-link.k-menu-link:hover {
    color: #79a086!important;
  }
  
  img, img[src] {
    z-index: 1;
    filter: brightness(0.85) !important;
    background-color: initial !important;
  }
  
  video, video[src] {
    z-index: 1;
    background-color: transparent !important;
  }
  
  ::placeholder {
    color: black !important;
  }

  span.k-widget.k-autocomplete.input-userpicker.k-state-default {
    background-color: #a7a5a5 !important;
  }

  span:has(i.fa) {
    background-color: inherit !important;
  }

  i,div.searchIcon[data-control-action='userPickerWindow'] {
    background-color: transparent !important;
    display: initial !important;
  }

  .pad-vert-2,i.fa {
    margin: 1% !important;
  }

  input:not([type='button']):not([type='submit']):not(.slider.round) {
    background-image: none !important;
    background-color: #333333 !important;
  }
  
  textarea, textarea[class], input[type='text'], 
  input[type='password'], input[type='email'],
  input[type='text'][class], input.CI-Input {
    background-color: rgb(60, 60, 60) !important;
    color: white !important;
    border: 1px solid #dcdcdc !important;
  }

  span.k-dropdown-wrap > input.k-input {
    border: none !important;
  }

  .text-danger {
    color: #f10027 !important;
  }

  .k-ext-treeview.k-treeview span.k-in.k-state-selected,
  .k-state-hover {
    background-color: rgb(58, 25, 85) !important;
  }

  tr.k-state-selected {
    background-color: rgb(111, 45, 165) !important;
  }

  tr[role='row']:hover {
    background-color: rgba(111, 45, 165, 0.1) !important;
  }

  td[role='gridcell']:hover {
    background-color: rgba(111, 45, 165, 0.1) !important;
  }

  td[role='gridcell'] > a {
    background-color: inherit !important;
  }
  
  svg:not([fill]) {fill: #7d7d7d !important}
  li, select {background-image: none !important}
  input[type='text'], input[type='search'] {text-indent: 10px}
  html cite, html cite *, html cite *[class] {color: #029833 !important}
  svg[fill], button, input[type='button'], input[type='submit'] {opacity: 0.85 !important}
  
  :before {color: #dcdcdc !important}
  :link:not(cite), :link *:not(cite) {color: #8db2e5 !important}
  :visited, :visited *, :visited *[class] {color: rgb(211, 138, 138) !important}
   
  button,button.k-button,button.k-button.k-primary {
    border: 1px solid #008ed6 !important;
  }
  
  button:hover,button.k-button:hover,button.k-button.k-primary:hover, a.btn:hover {
    background-color: #008ed6 !important;
  }

  div > #keyboard {
    background-color: transparent !important;
  }

  button.btn.btn-link.btn-lg:hover, li.drawer-button:hover,
  li.nav_hover:hover {
    background-color: rgb(61, 61, 61) !important;
  }

  button.btn > span.fa + div {
    background-color: inherit !important;
  }

  .input[readonly] {
    color: white !important;
  }

  a.btn.btn-default#new_activity {
    color: white !important;
  }

  a.dropdowntree-button.k-button {
    height: 100% !important;
    margin-left: -3px !important;
  }

  span.gs-slider {
    background-color: #3c3cff26 !important;
    border-radius: 25px !important;
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5a5a5a; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b3b3b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.897) !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.8) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.8) !important;
}