html, body {
    color: #dcdcdc !important;
    background-image: none !important;
    background-color: #292929 !important;
  }
  
  html::before, body::before {
    background-image: none !important;
  }
  
  html *:not(input):not(textarea) {color: #dcdcdc !important}
  html *{background-color: rgb(41, 41, 41, 0.90) !important}
  
  html *, html *[id], html *[class]:not(.global-search__body):not(.slider.round) {
    box-shadow: none !important;
    text-shadow: none !important;
    border-radius: unset !important;
    border-color: #555555 !important;
    outline-color: #555555 !important;
  }

  span,a.k-button {
    background-color: transparent !important;
  }

  span.k-icon {
    border: none !important;
  }

  a.k-button,button.k-button:not(a.dropdowntree-button.k-button) {
    border: 1px solid #008ed6 !important;
  }

  a.k-button > label {
    background-color: inherit !important;
  }

  button.two-action-input-group__primary-action.k-button, span.k-icon {
    margin: 2% !important;
  }

  .drawer-drawermenu .k-dropdown-wrap, .drawer-drawermenu .k-textbox,
   .drawer-drawermenu .k-widget, .drawer-drawermenu input,
    .drawer-drawermenu textarea, .content-header__main {
    border-style: initial !important;
  }

  .results-table.table-picker__details tr[role='row'], .results-table.table-picker__filter tr[role='row'] {
    background-color: rgb(41, 41, 41, 0.90) !important;
  }

  span.k-link.k-menu-link:hover {
    color: #79a086!important;
  }
  
  img, img[src] {
    z-index: 1;
    filter: brightness(0.85) !important;
    background-color: initial !important;
  }
  
  video, video[src] {
    z-index: 1;
    background-color: transparent !important;
  }
  
  ::placeholder {
    color: black !important;
  }

  span.k-widget.k-autocomplete.input-userpicker.k-state-default {
    background-color: #a7a5a5 !important;
  }

  span:has(i.fa) {
    background-color: inherit !important;
  }

  i,div.searchIcon[data-control-action='userPickerWindow'] {
    background-color: inherit !important;
    display: initial !important;
  }

  .pad-vert-2,i.fa {
    margin: 1% !important;
  }

  input:not([type='button']):not([type='submit']):not(.slider.round) {
    background-image: none !important;
    background-color: #333333 !important;
  }
  
  textarea, textarea[class], input[type='text'], 
  input[type='password'], input[type='email'],input[type='text'][class] {
    background-color: #a7a5a5 !important;
    border: 1px solid #dcdcdc !important;
  }

  input.CI-Input {
    background-color: rgb(60, 60, 60) !important;
    color: white !important;
  }

  .text-danger {
    color: #f10027 !important;
  }
  
  svg:not([fill]) {fill: #7d7d7d !important}
  li, select {background-image: none !important}
  input[type='text'], input[type='search'] {text-indent: 10px}
  html cite, html cite *, html cite *[class] {color: #029833 !important}
  svg[fill], button, input[type='button'], input[type='submit'] {opacity: 0.85 !important}
  
  :before {color: #dcdcdc !important}
  :link:not(cite), :link *:not(cite) {color: #8db2e5 !important}
  :visited, :visited *, :visited *[class] {color: rgb(211, 138, 138) !important}
   