<div data-template="createUser" class="drawerdetails-action">
    <form class="drawerdetails-form">
        <div class="row">
            <fieldset>
                <input name="Domain" value="SMInternal" hidden>
                <input name="DistinguishedName" value="NOTSET" hidden>
                <input name="TimeAdded" value="0001-01-01T00:00:00.000Z" hidden>
                <input name="DisplayName" hidden>
                <input name="UserName" hidden>
                <legend class="createUserLegend">Identification Information</legend>
                <div class="col-md-4">
                    <div class="editor-label">
                        <label><span>First Name</span></label>
                    </div>
                    <div class="editor-field">
                        <input name='FirstName' class='k-textbox'>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="padleft10">
                        <div class="editor-label">
                            <label><span>Initial</span></label>
                        </div>
                        <div class="editor-field">
                            <input name='Initials' class='k-textbox'>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label">
                        <label><span>Last Name</span></label>
                    </div>
                    <div class="editor-field">
                        <input name='LastName' class='k-textbox'>
                    </div>
                </div>
            </fieldset>

        </div>

        <div class="row">
            <fieldset>
                <legend class="createUserLegend">System Information</legend>
                <div class="col-md-7">
                    <div class="editor-label">
                        <label><span>Email Address</span></label>
                    </div>
                    <div class="editor-field">
                        <input name="UPN" class="k-textbox">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="row">
            <fieldset>
                <legend class="createUserLegend">Additional Information</legend>
                <div class="col-lg-7">
                    <div class="editor-label">
                        <label><span>Street Address</span></label>
                    </div>
                    <div class="editor-field">
                        <input name="StreetAddress" class="k-textbox">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label><span>City</span></label>
                    </div>
                    <div class="editor-field">
                        <input name="City" class="k-textbox">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label><span>State</span></label>
                    </div>
                    <div class="editor-field">
                        <input name="State" class="k-textbox">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label><span>ZIP</span></label>
                    </div>
                    <div class="editor-field">
                        <input name="ZIP" class="k-textbox">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label><span>Country</span></label>
                    </div>
                    <div class="editor-field">
                        <input name="Country" class="k-textbox">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="row">
            <fieldset>
                <legend class="createUserLegend">Company Information</legend>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label><span>Phone#</span></label>
                    </div>
                    <div class="editor-field">
                        <input name="BusinessPhone" class="k-textbox">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="editor-label">
                        <label><span>Title</span></label>
                    </div>
                    <div class="editor-field">
                        <input name="Title" class="k-textbox">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label><span>Department</span></label>
                    </div>
                    <div class="editor-field">
                        <input name="Department" class="k-textbox">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label><span>Office</span></label>
                    </div>
                    <div class="editor-field">
                        <input name="Office" class="k-textbox">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-label">
                        <label><span>Company</span></label>
                    </div>
                    <div class="editor-field">
                        <input name="Company" class="k-textbox">
                    </div>
                </div>
            </fieldset>
        </div>

    </form>
</div>