<div id="#=RequestOfferingId#" class="media">
    <a class="pull-left media-link">
        <img class="cursor-pointer sc-item-image" src="/ServiceCatalog/GetRequestOfferingImg/#=RequestOfferingId#">
        <i class="fa fa-star-o"></i>
    </a>
    <div class="media-body sc-item-body">
        <h5 class="media-heading">
            <a>
                <span class="cursor-pointer sc-item-title">#=RequestOfferingTitle#</span>
            </a>
            <small class="sc-item-desc">#=RequestOfferingDescription#</small>
        </h5>
    </div>
</div>