<div class="cat">
    <h4 id="6188cb95-35ba-1ae5-b9f6-3f12b45aae7f" data-bind="text: Category">NSERC SSHRC - IMEP</h4> <!--service offering id & title-->
    <div class="row">
        
        <div class="col-md-12">
            <h4 id="1b582b93-bdad-7ca2-85bd-aefcc4140016" data-service="1b582b93-bdad-7ca2-85bd-aefcc4140016">People Movement</h4> <!--service offering id & name-->
            <div class="row sc-item-list">

                <!--individual request offering template-->
                <div id="133e7d52-4765-8db2-5602-7a4419cc87fa" class="media" data-title="NSERC - SSHRC Extended Leave" data-desc="Request for Extended Leave">
                    <a class="pull-left media-link">
                        <img class="cursor-pointer sc-item-image" data-request-url="null" data-request-target-type="_self" data-request="133e7d52-4765-8db2-5602-7a4419cc87fa" data-service="1b582b93-bdad-7ca2-85bd-aefcc4140016" data-bind=" click: openrequestoffering" src="/ServiceCatalog/GetRequestOfferingImg/133e7d52-4765-8db2-5602-7a4419cc87fa" onerror="this.onerror=null; this.src='/Content/Images/Icons/RequestOffering/RO_Default.png';">
                        <i class="fa fa-star-o" data-request="133e7d52-4765-8db2-5602-7a4419cc87fa" data-bind="click: toggleFavorite"></i>
                    </a>
                    <div class="media-body sc-item-body">
                        <h5 class="media-heading">
                            <a>
                                <span class="cursor-pointer sc-item-title" data-request-url="null" data-request-target-type="_self" data-request="133e7d52-4765-8db2-5602-7a4419cc87fa" data-service="1b582b93-bdad-7ca2-85bd-aefcc4140016" data-bind="click: openRequestOffering">
                                    NSERC - SSHRC Extended Leave
                                </span>
                            </a>
                            <!-- for html encode-->
                            <small class="sc-item-desc">Request for Extended Leave</small>
                        </h5>
                    </div>
                </div>


            </div>
        </div>
        
    </div>
</div>